.gpt-copyit.gptc-action-buttons {
    display: flex;
    gap: .8rem;
}

.gpt-copyit.gptc-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    width: 100%;
}

.gpt-copyit.gptc-msg-details {
    color: #9999aa;
    font-size: .8rem;
}

.gpt-copyit.gptc-button {
    padding: 2px;
    cursor: pointer;
    color: #9999aa;
    background: #343441;
    cursor: pointer;
    width: auto;
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    transition: .2s ease-in-out;
}

.gpt-copyit.gptc-button:hover {
    background: hsla(240, 11%, 23%, 0.8);
}

.gpt-copyit.gptc-toast {
    bottom: -315px;
    right: 15px;
    cursor: pointer;
    width: 300px;
    max-width: 40%;
    position: fixed;
    z-index: 10000;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 90px;
    padding: 0.4rem 0.8rem;
    border: 1px solid #434754;
    border-radius: 10px;
    background: #212123;
}

.gpt-copyit.gptc-hexCode {
    background: var(--color);
}

/* >> Popup Message << */
.gpt-copyit.gptc-popupInner {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 90px;
    padding: 0.4rem 0.8rem;
    border: 1px solid #434754;
    border-radius: 10px;
    background: #212123;
}

.gpt-copyit.gptc-popupInner .gptc-popupHeader {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.2rem;
    justify-content: space-between;
    font-weight: 500;
    padding: 8px 0px;
    border-bottom: 1px solid rgb(67, 71, 84);
    margin-bottom: 1rem;
}

.gpt-copyit.gptc-popupInner .gptc-popupHeader.noName {
    border-bottom: none;
    justify-content: end;
    margin-bottom: -1rem;
}

.gpt-copyit.gptc-popupInner .gptc-popupHeader.noName span {
    display: none;
}

.gpt-copyit.gptc-popupInner .gptc-popupHeader svg {
    height: 1.2rem;
    width: 1.2rem;
}

.gpt-copyit.gptc-popupInner .gptc-popupContentWrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto 0;
}

#__next>div.overflow-hidden.w-full.h-full.relative>div.dark.hidden.bg-gray-900.md\:fixed.md\:inset-y-0.md\:flex.md\:w-\[260px\].md\:flex-col {
    padding: auto;
    transition: 1.2s;
}

#__next>div.overflow-hidden.w-full.h-full.relative>div.flex.h-full.flex-1.flex-col.md\:pl-\[260px\] {
    transition: 1.2s;
    transform: translateX(0px);
}

.collapse #__next>div.overflow-hidden.w-full.h-full.relative>div.dark.hidden.bg-gray-900.md\:fixed.md\:inset-y-0.md\:flex.md\:w-\[260px\].md\:flex-col {
    transform: translateX(-260px);
}

.collapse #__next>div.overflow-hidden.w-full.h-full.relative>div.flex.h-full.flex-1.flex-col.md\:pl-\[260px\] {
    padding: 0;
}

#navToggler {
    position: absolute;
    top: 24px;
    right: 0px;
    width: 20px;
    height: 20px;
    transform: translateX(80%);
    border-radius: 5px;
    background: rgb(33, 33, 35);
    cursor: pointer;
    transition: 1.8s;
}

#navToggler .arrow {
    position: relative;
    display: inline-block;
    padding-top: 8px;
    padding-right: 16px;
    margin-left: 16px;
}

#navToggler .arrow::before {
    content: "";
    position: absolute;
    top: -4.2px;
    left: -8px;
    border-width: 4px 0px 4px 8px;
    border-style: solid;
    border-color: transparent transparent transparent #353541;
    transform: rotate(-180deg) translateX(50%);
    transition: 0.8s;
}

.collapse #navToggler .arrow::before {
    transform: rotate(0deg) translateX(-15%);
}

/* > clear extension < */
/* sorry wordtune, i love your service, but on this website it's simply not needed */
wordtune-container {
    display: none;
}